<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <div id="title">
            <h1 >Timestamp Microservice</h1>
        </div>
        <div class="form-div">
            <form>
                <label for="text-input">Enter valid Date Or UNIX Timestamp</label>
                <input type="text" placeholder="Date or UNIX Timestamp" id="text-input">
                <button id="submit-btn" onclick="puru()">SUBMIT</button>
            </form>
        </div>
    </main>
    <script src="main.js"></script>
</body>

</html>